*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 10px;
    font-weight: normal;
}